SoccerPoolSim.Cmd/bin/
SoccerPoolSim.Cmd/obj/
SoccerPoolSim.Core/bin/
SoccerPoolSim.Core/obj/
SoccerPoolSim/bin/
SoccerPoolSim/obj/
SoccerPoolSim/.vs/
SoccerPoolSim.Test/obj/
SoccerPoolSim.Cmd/obj/
SoccerPoolSim.Core/obj/
SoccerPoolSim/obj/
SoccerPoolSim/.vs/
SoccerPoolSim.Test/bin/
SoccerPoolSim.Test/obj/
published/
