SoccerPouleSim.Cmd/bin/
SoccerPouleSim.Cmd/obj/
SoccerPouleSim.Core/bin/
SoccerPouleSim.Core/obj/
SoccerPouleSim/bin/
SoccerPouleSim/obj/
SoccerPouleSim/.vs/
SoccerSim.Test/obj/
SoccerPoolSim.Cmd/obj/
SoccerPoolSim.Core/obj/
SoccerPoolSim/obj/
SoccerPoolSim/.vs/
