/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url(/images/background_dashboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    overflow: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.background-div {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: #050000;
    line-height: 1.5;
    font-size: 18px;
}

.theme-showcase {
    padding-bottom: 32px;
}

footer {
    background-color: #D8D6D0;
}

.footer-link {
    font-size: 24px;
    margin-top: 20px;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 7px 7px rgba(0, 0, 0, .75);
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, .75);
    padding: 0px;
    margin: 0px;
    margin-bottom: 32px;
}

.paragraph {
    background-color: #D8D6D0;
    padding: 32px 48px;
    margin: 0;
}

    .paragraph p {
        font-weight: 500;
    }

.screenshot {
    margin: auto;
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 50px;
        line-height: 1.4;
        font-size: 16px;
    }

    .paragraph {
        padding: 6px 16px;
    }

        .paragraph p {
            font-weight: normal;
        }

    .row > div {
        padding: 0;
    }
}

.img-shadow {
    -webkit-filter: drop-shadow(-5px 5px 2px #222);
    filter: drop-shadow(-5px 5px 2px #222);
}

.img-fullwidth {
    width: 100%;
}

h1 { color: white;  padding: 20px; }
img { padding: 10px; }